<div class="box">
  <h1>Login Page</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="form">
    <!--    Email-->
    <label>
      Input Email:
      <input
        type="text"
        formControlName="email"
        required
        [ngClass]="{
          inputError: email!.invalid && (email!.dirty || email!.touched),
          inputSuccess: email!.valid
        }"
      />
    </label>
    <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="error">
      <div *ngIf="email!.errors?.['required']">email is required</div>
      <div *ngIf="email!.errors?.['pattern']">email address is not correct</div>
    </div>

    <!--    Password-->
    <label>
      Input Password:
      <input
        type="password"
        formControlName="password"
        required
        [ngClass]="{
          inputError: password!.invalid && (password!.dirty || password!.touched),
          inputSuccess: password!.valid
        }"
      />
    </label>
    <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="error">
      <div *ngIf="password!.errors?.['required']">email is required</div>
      <div *ngIf="password!.errors?.['pattern']">email address is not correct</div>
    </div>

    <!--    Remember Me-->
    <label>
      <input type="checkbox" formControlName="rememberMe" />
      remember me
    </label>
    <button type="submit" [disabled]="loginForm.invalid">sign in</button>
  </form>
</div>
